/*** COLORS ***/
$w-color-primary: #BCAE9F;
$w-color-dark: #4A4641;


/*** FONT ***/
$w-font-size-desktop: 20px;

$w-font-size-large: 1.6em;

$w-def-font-weight: 300;
$w-font-family-body: 'Work Sans';

$w-headline-font-family: 'Bauer Bodoni Black';

$w-h1-size-bp: 4em;
$w-h2-size-bp: 3.1em;
$w-h3-size-bp: 1.9em;
$w-h5-size: 2.1em;

$w-h1-size: 3em !default;
$w-h2-size: 1.75em !default;
$w-h3-size: 1.5em !default;

/*** BUTTON ***/
$w-button-padding-vertical: 0.9em;
$w-button-padding-horizontal: 1.6em;

/*** GROUP-SPACING ***/
$w-container-padding-y: 6rem;
$w-container-padding-y-s: 10rem;
$w-container-padding-y-m: 14rem;