/*** COLORS ***/
$w-color-primary: #BCAE9F;
$w-color-dark: #4A4641;


/*** FONT ***/
$w-font-size-desktop: 20px;

$w-font-size-large: 1.6em;

$w-def-font-weight: 300;
$w-font-family-body: 'Work Sans';

$w-headline-font-family: 'Bauer Bodoni Black';

//$w-h1-size: 4.5em;
$w-h1-size-bp: 4.5em;
$w-h2-size-bp: 3.1em;
$w-h3-size-bp: 1.9em;
$w-h5-size: 2.1em;